body{
    font-family: 'poppins',sans-serif; 
    margin: 0;
     
}
h1{
    font-size: 42px;
}
h2{
    font-size: 35;
}
p{
    color: dimgray;
}
.orange-highlight{
    color:orange;
}

.half-width{
    width:40%;
    float:left;
    padding-left: 2%;
    margin-left: 5%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;   
}
section{
    height:500px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(to right,lightsalmon,tomato);
    padding:10px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
}
.dream-area{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 7px;
    height: 80%;
    background-color: #fff;
}
.experience-area{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image:linear-gradient(to bottom,lightsalmon,tomato) ;
    border-image-slice:1;
}
#baby-dev{
    border-left: 7px solid;
    border-image: linear-gradient(to bottom,blue,cyan);
    border-image-slice:1;
}
footer p{
    text-align: center;
    font-size: 17px;
}